i {
    --fontSize: 1.25rem;
    --minSize: 1em;
    --fontColor: inherit;
}

    i.sizeInherit {
        --fontSize: inherit;
    }

    i.sizeUnset {
        --fontSize: 1rem;
        --minSize: unset;
    }

    i.sizeExtraSmall {
        --fontSize: 0.75rem;
    }

    i.sizeSmall {
        --fontSize: 1rem;
    }

    i.sizeMedium {
        --fontSize: 1.25rem;
    }

    i.sizeLarge {
        --fontSize: 1.5rem;
    }

    i.sizeExtraLarge {
        --fontSize: 1.75rem;
    }

    button.colorDefault {
        --fontColor: inherit;
    }

    button.colorPrimary {
        --fontColor: var(--ka-primary);
    }

    button.colorSecondary {
        --fontColor: var(--ka-secondary);
    }

    button.colorInfo {
        --fontColor: var(--ka-info);
    }

    button.colorSuccess {
        --fontColor: var(--ka-success);
    }

    button.colorWarning {
        --fontColor: var(--ka-warning);
    }

    button.colorDanger {
        --fontColor: var(--ka-danger);
    }

i {
    font-style: inherit;
    display: inline-block;
    line-height: 0;
    font-size: var(--fontSize);
    color: var(--fontColor);
    min-width: var(--minSize);
    min-height: var(--minSize);
}

i > svg {
    color: inherit;
}