.kompInputRadio {
    --color: var(--ka-base-12, currentColor);
    --helperTextColor: var(--ka-base-11);
    --hoverColor: color-mix(in srgb, var(--color) 15%, transparent);
    --pressedColor: color-mix(in srgb, var(--color) 30%, transparent);
}

    .kompInputRadio.color-Primary {
        --color: var(--ka-primary-light);
    }

    .kompInputRadio.color-Secondary {
        --color: var(--ka-secondary-light);
    }

    .kompInputRadio.color-Info {
        --color: var(--ka-info-light);
    }

    .kompInputRadio.color-Success {
        --color: var(--ka-success-light);
    }

    .kompInputRadio.color-Warning {
        --color: var(--ka-warning-light);
    }

    .kompInputRadio.color-Danger {
        --color: var(--ka-danger-light);
    }

.kompInputRadio {
    display: inline-flex;
    gap: var(--ka-space-xs);
    align-items: center;
    line-height: var(--ka-lineHeight-md);
}

button {
    color: var(--color);
    padding: var(--ka-space-xs);
    border-radius: var(--ka-borderRadius-full);
    border: none;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;
}

    button:hover {
        background-color: var(--hoverColor);
    }

    button:active {
        background-color: var(--pressedColor);
    }

label {
    cursor: pointer;
    display: inline-block;
}
