input {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

    input::-webkit-inner-spin-button {
        display: none;
    }

.spin-buttons {
    height: 100%;
    max-height: 64px;
    align-self: center;
    display: grid;
    grid-auto-rows: 1fr;
    width: 2em;
}

.spin-button {
    display: grid;
    place-content: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    color: var(--ka-base-12)
}

.spin-button:hover {
    background-color: var(--ka-base-a4);
}