.kompInputBaseTemplate {
    --borderRadius: 0;
    --helperTextColor: var(--ka-base-11);
    --backgroundColor: var(--ka-base-a3);
    --borderNormalColor: var(--ka-base-11);
    --borderSuccessColor: var(--ka-success);
    --borderWarningColor: var(--ka-warning);
    --borderErrorColor: var(--ka-danger);
    --borderWidth: var(--ka-borderWidth-thin);
    --borderColor: var(--borderNormalColor);
    --borderBase: var(--borderWidth) solid var(--borderColor);
    --borderTop: none;
    --borderRight: none;
    --borderBottom: var(--borderBase);
    --borderLeft: none;
    --resize: none;
}

    .kompInputBaseTemplate.typeFilled {
    }

    .kompInputBaseTemplate.typeOutlined {
        --borderRadius: var(--ka-borderRadius-sm);
        --borderTop: var(--borderBase);
        --borderRight: var(--borderBase);
        --borderBottom: var(--borderBase);
        --borderLeft: var(--borderBase);
    }

    .kompInputBaseTemplate.typeClear {
        --backgroundColor: transparent;
    }

    .kompInputBaseTemplate.validationInitial {
    }

    .kompInputBaseTemplate.validationSuccess {
        --borderColor: var(--borderSuccessColor);
    }

    .kompInputBaseTemplate.validationWarning {
        --borderColor: var(--borderWarningColor);
    }

    .kompInputBaseTemplate.validationError {
        --borderColor: var(--borderErrorColor);
    }

    .kompInputBaseTemplate.hasValidationMessage {
        --helperTextColor: var(--borderColor);
    }

    .kompInputBaseTemplate:has(:disabled) {
        --borderColor: color-mix(in srgb, var(--borderNormalColor) 70%, transparent);
    }

.kompInputBaseTemplate {
    display: inline-flex;
    flex-direction: column;
    min-width: min(100%, 20ch);
}

.kompInputWrap {
    display: inline-flex;
    background-color: var(--backgroundColor);
    border-radius: var(--borderRadius);
    border-color: var(--borderColor);
    border-top: var(--borderTop);
    border-right: var(--borderRight);
    border-bottom: var(--borderBottom);
    border-left: var(--borderLeft);
    resize: var(--resize);
}

    .kompInputWrap:not(:has(:is(:disabled, [readonly]))):is(:focus-within, :active) {
        border-color: var(--ka-primary);
    }

    .kompInputWrap:has(:disabled) {
        pointer-events: none;
        user-select: none;
        color: color-mix(in srgb, currentColor 70%, transparent);
    }

.adornment {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    pointer-events: none;
    margin: 0 var(--ka-space-xs);
}

label {
    font-size: 75%;
    color: var(--ka-base-12);
    word-break: break-word;
}

.helperText {
    font-size: 70%;
    color: var(--helperTextColor);
    word-break: break-word;
}

.kompInput {
    flex: 1 1 auto;
    display: inline-flex;
    gap: var(--ka-space-xs);
}

    .kompInput ::deep :is(input, textarea, select) {
        background-color: unset;
        color: inherit;
        border: unset;
        outline: unset;
        font-size: var(--ka-fontSize-sm);
        font-family: var(--ka-fontFamily-base);
        padding: var(--ka-space-sm);
        box-sizing: border-box;
        width: 100%;
        line-height: var(--ka-lineHeight-md);
        min-width: min(100%, 20ch);
    }

    .kompInput ::deep textarea {
        resize: none;
        scrollbar-width: thin;
        scrollbar-color: var(--ka-base-12) transparent;
    }

    .kompInput ::deep input[type=number] {
        -moz-appearance: textfield;
    }

    .kompInput ::deep input[type=number]::-webkit-outer-spin-button,
    .kompInput ::deep input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }