@inherits KAComponentBase

@if(ModalReference is not null && IsOpen)
{
    <Microsoft.AspNetCore.Components.Sections.SectionContent SectionName="@ModalReference.SectionName">
        <div class="@GetCssClass()">
            <div class="ka-modal-backdrop" @onclick="CloseAsync"></div>
            <div class="ka-modal-content">
                @ChildContent
            </div>
        </div>
    </Microsoft.AspNetCore.Components.Sections.SectionContent>
}