.kompButton {
    --lightColor: var(--ka-default-light);
    --mainColor: var(--ka-default);
    --darkColor: var(--ka-default-dark);
    --contrastColor: var(--ka-default-contrast);
    --padding: var(--ka-space-sm) var(--ka-space-md);
    --textColor: var(--contrastColor);
    --backgroundColor: var(--lightColor);
    --hoverColor: var(--mainColor);
    --pressedColor: var(--darkColor);
    --borderColor: transparent;
    --borderWidth: var(--ka-borderWidth-thin);
    --borderRadius: var(--ka-borderRadius-sm);
    --border: var(--borderWidth) solid var(--borderColor);
    --boxShadow: var(--ka-boxShadow-sm);
    --fontSize: var(--ka-fontSize-md);
    --fontWeight: var(--ka-fontWeight-bold);
    --textTransform: uppercase;
}

    .kompButton.colorDefault {
        --lightColor: var(--ka-default-light);
        --mainColor: var(--ka-default);
        --darkColor: var(--ka-default-dark);
        --contrastColor: var(--ka-default-contrast);
    }

    .kompButton.colorPrimary {
        --lightColor: var(--ka-primary-light);
        --mainColor: var(--ka-primary);
        --darkColor: var(--ka-primary-dark);
        --contrastColor: var(--ka-primary-contrast);
    }

    .kompButton.colorSecondary {
        --lightColor: var(--ka-secondary-light);
        --mainColor: var(--ka-secondary);
        --darkColor: var(--ka-secondary-dark);
        --contrastColor: var(--ka-secondary-contrast);
    }

    .kompButton.colorInfo {
        --lightColor: var(--ka-info-light);
        --mainColor: var(--ka-info);
        --darkColor: var(--ka-info-dark);
        --contrastColor: var(--ka-info-contrast);
    }

    .kompButton.colorSuccess {
        --lightColor: var(--ka-success-light);
        --mainColor: var(--ka-success);
        --darkColor: var(--ka-success-dark);
        --contrastColor: var(--ka-success-contrast);
    }

    .kompButton.colorWarning {
        --lightColor: var(--ka-warning-light);
        --mainColor: var(--ka-warning);
        --darkColor: var(--ka-warning-dark);
        --contrastColor: var(--ka-warning-contrast);
    }

    .kompButton.colorDanger {
        --lightColor: var(--ka-danger-light);
        --mainColor: var(--ka-danger);
        --darkColor: var(--ka-danger-dark);
        --contrastColor: var(--ka-danger-contrast);
    }

    .kompButton.sizeSmall {
        --fontSize: var(--ka-fontSize-sm);
        --padding: var(--ka-space-xs) var(--ka-space-sm);
    }

    .kompButton.sizeMedium {
        --fontSize: var(--ka-fontSize-md);
        --padding: var(--ka-space-sm) var(--ka-space-md);
    }

    .kompButton.sizeLarge {
        --fontSize: var(--ka-fontSize-lg);
        --padding: var(--ka-space-md) var(--ka-space-lg);
    }

    .kompButton.typeFilled {
    }

    .kompButton.typeOutlined {
        --borderWidth: var(--ka-borderWidth-thin);
        --borderColor: var(--mainColor);
        --backgroundColor: transparent;
        --hoverColor: color-mix(in srgb, var(--mainColor) 20%, transparent);
        --pressedColor: color-mix(in srgb, var(--mainColor) 35%, transparent);
        --textColor: var(--mainColor);
    }

    .kompButton.typeTextOnly {
        --borderWidth: 0px;
        --borderColor: var(--mainColor);
        --backgroundColor: transparent;
        --hoverColor: color-mix(in srgb, var(--mainColor) 20%, transparent);
        --pressedColor: color-mix(in srgb, var(--mainColor) 35%, transparent);
        --textColor: var(--mainColor);
        --boxShadow: unset;
    }

.kompButton {
    border: var(--border);
    border-radius: var(--borderRadius);
    padding: var(--padding);
    color: var(--textColor);
    background-color: var(--backgroundColor);
    text-transform: var(--textTransform);
    box-shadow: var(--boxShadow);
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
    font-family: var(--ka-fontFamily-base);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--ka-space-xs);
    cursor: pointer;
    line-height: var(--ka-lineHeight-sm);
}

    .kompButton:hover {
        background-color: var(--hoverColor);
    }

    .kompButton:active {
        background-color: var(--pressedColor);
    }
