.ka-toggle {
    --toggle-backgroundColor: var(--komponenty-base-3);
    --toggle-backgroundColor-contrast: var(--komponenty-base-contrast);
    --toggle-size: 36px;
    --toggle-cursor: pointer;
    --valuelist-paddingBlock: 2px;
    --valuelist-paddingInline: 2px;
    --valuelist-height: calc(var(--toggle-size) - 4px);
    --valuelist-width: auto;
    --valuelist-flexDirection: row;
    --option-width: var(--toggle-size);
    --option-height: unset;
    --indicator-index: 0;
    --indicator-size: calc(var(--toggle-size) - 4px);
    --indicator-backgroundColor: var(--komponenty-primary);
    --indicator-translate: 0 -50%;
    --indicator-top: 50%;
    --indicator-left: calc(calc(calc(var(--indicator-index) * var(--toggle-size)) + calc(calc(var(--toggle-size) - var(--indicator-size)) / 2)) + var(--valuelist-paddingInline));
}

    .ka-toggle.ka-color-Default {
        --toggle-backgroundColor: var(--komponenty-base-9);
        --indicator-backgroundColor: var(--komponenty-base-5);
        --toggle-backgroundColor-contrast: var(--komponenty-base-12);
    }

    .ka-toggle.ka-color-Primary {
        --toggle-backgroundColor: var(--komponenty-primary-light);
        --indicator-backgroundColor: var(--komponenty-primary-dark);
        --toggle-backgroundColor-contrast: var(--komponenty-primary-contrast);
    }

    .ka-toggle.ka-color-Secondary {
        --toggle-backgroundColor: var(--komponenty-secondary-light);
        --indicator-backgroundColor: var(--komponenty-secondary-dark);
        --toggle-backgroundColor-contrast: var(--komponenty-secondary-contrast);
    }

    .ka-toggle.ka-color-Info {
        --toggle-backgroundColor: var(--komponenty-info-light);
        --indicator-backgroundColor: var(--komponenty-info-dark);
        --toggle-backgroundColor-contrast: var(--komponenty-info-contrast);
    }

    .ka-toggle.ka-color-Success {
        --toggle-backgroundColor: var(--komponenty-success-light);
        --indicator-backgroundColor: var(--komponenty-success-dark);
        --toggle-backgroundColor-contrast: var(--komponenty-success-contrast);
    }

    .ka-toggle.ka-color-Warning {
        --toggle-backgroundColor: var(--komponenty-warning-light);
        --indicator-backgroundColor: var(--komponenty-warning-dark);
        --toggle-backgroundColor-contrast: var(--komponenty-warning-contrast);
    }

    .ka-toggle.ka-color-Danger {
        --toggle-backgroundColor: var(--komponenty-danger-light);
        --indicator-backgroundColor: var(--komponenty-danger-dark);
        --toggle-backgroundColor-contrast: var(--komponenty-danger-contrast);
    }

    .ka-toggle.ka-size-Small {
        --toggle-size: 20px;
    }

    .ka-toggle.ka-size-Medium {
        --toggle-size: 28px;
    }

    .ka-toggle.ka-size-Large {
        --toggle-size: 36px;
    }

    .ka-toggle.ka-vertical {
        --valuelist-flexDirection: column;
        --valuelist-height: auto;
        --valuelist-width: calc(var(--toggle-size) - 4px);
        --option-height: var(--toggle-size);
        --indicator-translate: -50% 0;
        --indicator-top: calc(calc(calc(var(--indicator-index) * var(--toggle-size)) + calc(calc(var(--toggle-size) - var(--indicator-size)) / 2)) + var(--valuelist-paddingInline));
        --indicator-left: 50%;
    }

.ka-toggle {
    all: unset;
    border: none;
    border-radius: 500px;
    background-color: var(--toggle-backgroundColor);
    color: var(--toggle-backgroundColor-contrast);
    display: inline-block;
    border-radius: 100px;
    width: fit-content;
    line-height: 0;
    cursor: var(--toggle-cursor);
    user-select: none;
}

.ka-toggle-valuelist {
    display: inline-flex;
    flex-direction: var(--valuelist-flexDirection);
    height: var(--valuelist-height);
    overflow: hidden;
    border-radius: 100px;
    position: relative;
    line-height: 1.2;
    padding-block: var(--valuelist-paddingBlock);
    padding-inline: var(--valuelist-paddingInline);
}

.ka-toggle-option {
    width: var(--option-width);
    height: var(--option-height);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: color-mix(in srgb, currentColor 50%, transparent);
}

.ka-toggle-indicator {
    width: var(--indicator-size);
    height: var(--indicator-size);
    border-radius: 500px;
    position: absolute;
    left: var(--indicator-left);
    top: var(--indicator-top);
    translate: var(--indicator-translate);
    transition: left 0.2s ease, top 0.2s ease;
    background-color: var(--indicator-backgroundColor);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ka-toggle-icon {
    width: var(--indicator-size);
    height: var(--indicator-size);
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 70%;
    place-content: center;
}
